@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Open+Sans:wght@400;500;600;700;800&family=Orbitron:wght@400;500&family=Outfit:wght@200;400;700&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@200;300;400;500;600&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,700&family=Roboto:wght@300;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    background: #FEECE2;
}

#container {
    min-width: 19rem;
    width: 60%;
    max-width: 42rem;
    height: 78vh;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 12px 3px #afafaf;
    justify-content: space-evenly;
    flex-direction: column;
}

.head {
    display: flex;
    width: 100%;
    column-gap: 6rem;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

#dkMode {
    background: transparent;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}

.fa-moon {
    width: 4rem;
    height: 4rem;
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 2rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.options {
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 32%;
}

.funny,
.strong,
.veryStrong {
    height: 4rem;
    display: flex;
    align-items: center;
}

.showPass {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showPass span {
    font-size: 1.5rem;
}

#showPass {
    border: 0;
    outline: 0;
    width: 22rem;
    height: 2rem;
    font-family: Poppins;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
}

img {
    width: 1.359rem;
    cursor: pointer;
}

#generate {
    margin: 0rem 3rem;
    padding: 0.8rem 2rem;
    border: 0;
    border-radius: 10px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    background-color: #FFBE98;
}

#generate:hover {
    color: black;
    background-color: #FFBE98;
}

#generate:active {
    background-color: #E2BFB3;
    color: white;
    transform: scale(.95);
}



/* ---------------------- Media Queries ---------------------- */

/* ---------------------- Mobile ---------------------- */

@media only screen and (max-width: 320px) {
    body {
        /* background-color: magenta; */
    }

    #container {
        row-gap: 4rem;
    }

    .head {
        flex-direction: column;
        row-gap: 1rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .fa-moon {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }

    .options {
        height: 13rem;
        width: 95%;
        margin-left: 2%;
    }

    .funny,
    .strong,
    .veryStrong {
        width: 90%;
    }

    .showPass {
        height: 5rem;
    }

    .showPass span {
        font-size: 1.5rem;
    }

    #showPass {
        width: 15rem;
        font-size: .8rem;
    }

    img {
        width: 1rem;
    }

    #generate {
        padding: 0.8rem .5rem;
        font-size: .9rem;
        margin: 0rem 1rem;
    }
}


/* ---------------------- Mobile ---------------------- */

@media only screen and (min-width: 321px) and (max-width: 425px) {
    body {
        /* background-color: pink; */
    }

    #container {
        row-gap: 4rem;
    }

    .head {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .fa-moon {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .options {
        height: 13rem;
        width: 98%;
        margin-left: 1%;
    }

    .funny,
    .strong,
    .veryStrong {
        width: 87%;
    }

    .showPass {
        height: 5rem;
    }

    .showPass span {
        font-size: 1.5rem;
    }

    #showPass {
        width: 15rem;
        font-size: .83rem;
    }

    img {
        width: 1rem;
    }

    #generate {
        padding: 0.8rem .5rem;
        font-size: .9rem;
        margin: 0rem 1rem;
    }
}

/* ---------------------- Mobile & Small Tablet ---------------------- */

@media only screen and (min-width: 426px) and (max-width: 597px) {
    body {
        /* background-color: lime; */
    }

    #container {
        row-gap: 5rem;
    }

    .head {
        flex-direction: column;
        row-gap: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .fa-moon {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .options {
        height: 13rem;
        width: 98%;
        margin-left: 1%;
    }

    .funny,
    .strong,
    .veryStrong {
        width: 17rem;
    }

    .showPass {
        height: 5rem;
    }

    .showPass span {
        font-size: 1.5rem;
    }

    #showPass {
        width: 15.5rem;
        font-size: .85rem;
    }

    img {
        width: 1rem;
    }

    #generate {
        padding: 0.8rem 1.3rem;
        font-size: .95rem;
        margin: 0rem 1rem;
    }
}


/* ---------------------- Tablet ---------------------- */

@media only screen and (min-width: 598px) and (max-width: 768px) {
    body {
        /* background-color: brown; */
    }

    h2 {
        font-size: 2rem;
    }

    #container {
        row-gap: 5rem;
    }

    .options {
        height: 13rem;
        width: 98%;
        margin-left: 1%;
    }

    .funny,
    .strong,
    .veryStrong {
        width: 17rem;
    }

    .showPass {
        height: 5rem;
    }

    .showPass span {
        font-size: 1.5rem;
    }

    #showPass {
        width: 17rem;
        font-size: 1rem;
    }

    img {
        width: 1rem;
    }

    #generate {
        padding: 0.8rem 1.3rem;
        font-size: 1rem;
        margin: 0rem 1rem;
    }
}


/* ---------------------- Tablet and Big Screen ---------------------- */

@media only screen and (min-width: 769px) {
    body {
        /* background-color: indianred; */
    }

    h2 {
        font-size: 2.5rem;
    }

    #container {
        row-gap: 4rem;
    }

    .options {
        height: 13rem;
        width: 98%;
        margin-left: 1%;
    }

    .funny,
    .strong,
    .veryStrong {
        width: 17rem;
    }

    .showPass {
        height: 5rem;
    }

    .showPass span {
        font-size: 1.5rem;
    }

    #showPass {
        width: 24rem;
        font-size: 1.2rem;
    }

    img {
        width: 1.5rem;
    }

    #generate {
        padding: 0.8rem 2rem;
        font-size: 1.1rem;
        margin: 0rem 1rem;
    }
}